.App {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

/* styles for the component provided by the particles.js library */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}